*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #3A8A7C;
}

header{
    height: 20%;
    display: flex;
    width: 100%;
    justify-content: space-between; 
    background-color:#3A8A7C;
    position: fixed top;  
    margin: 0%;
}

header a img{
    height: -webkit-fill-available;
    justify-self: flex-start;
    margin: 10%;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-self: center;
    justify-content: space-around;
}

header nav a{
    text-decoration: none;
}

h1{
    font-family: 'Inter', sans-serif;
    color: #f5f5f5;
    font-style: normal;
    font-size: 150%;
}
h1:hover{
    text-decoration: underline;
}

main{
    display: flex;
    width: 95%;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: center; 
    margin: 10px auto;
    text-align: center;
    
    min-height: 60%;
      
}
main div{
    align-content: center;
    

}

main div img{
    width: 55%;
    border-radius: 5%;
    margin: 20px;
}

.col img{
    width: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3A8A7C;
    padding-top: 20px;
    
}

.redes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align-last: center;
    
}

footer a{
    text-decoration: none;
    display: flex;
    align-items: center;
}


h2{
    font-family: 'Amarante', serif;
    color: #f5f5f5;
    font-style: normal;
    font-size: 500%;
    text-align: left;
    
}
h3{
    font-family: 'Amarante', serif;
    color: #f5f5f5;
    font-style: normal;
    font-size: 200%;
}
h4{
    font-family: lato,sans-serif;
    color: #f5f5f5;
    font-style: bold;
    font-size: 120%;
}

h5{
    font-family: lato,sans-serif;
    color: #f5f5f5;
    font-style: normal;
    font-size: 100%;
}

p{
    font-family: lato,sans-serif;
    color: #f5f5f5;
    font-style: bold;
    margin: 10px;
    text-align: justify;
    font-size: 120%;
}

.card{
    background-color: transparent;
    border: none;
    --bs-card-border-width: 0px;
}

.carousel-indicators{
    margin-bottom: 0;
}

.mushardo img{
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    border-radius: 0;
}


.card-img-top{
    border-radius: 20px;
}

.img-1 img{
    width: fit-content;
}

.img-2 img{
    width: fit-content;
}

.img-3 img{
    width: fit-content;
}

.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: left;
}

.navbar-collapse{
    align-items: center;
    display: flex;
    justify-content: center;
}

.center{
    text-align: center;
    justify-self: center;
    font-size: 200%;
}

.linea{
    text-decoration: underline;
}


@media (max-width:711px) {

    header{
        justify-content: unset;
    }
    nav{
        flex-direction: column;
        align-items: flex-end;
        margin-right: 5%;
    }
    header a img{
        height: -webkit-fill-available;
        justify-self: flex-start;
        height: 90px;
        margin: 10% 10% 10% 10%;
    }

    main{
        flex-direction: column;
        align-content: center;

    }

    main div{
        align-content: center;
        width: 90%;

    }

    main div{
        align-content: center;
        width: 100%;
    }

    .redes{
        width: 50%;
        text-align-last: justify;
        
    }

    h1{
        font-size: 220%;
    }
    h1:hover{
        font-size: 220%;
        text-decoration: underline;
    }

    h2{
        font-size: 300%;
        
    }
    h3{
        font-size: 300%;
    }

    .img-1 img{
        width: 55%;
    }
    
    .img-2 img{
        width: 55%;
    }
    
    .img-3 img{
        width: 55%;
    }

   }

   @media (max-width: 991px){
    .img-1 img{
        width: 55%;
    }
    
    .img-2 img{
        width: 55%;
    }
    
    .img-3 img{
        width: 55%;
    }
   }


